{% extends '@UserList/Default/index.html.twig' %}

{% block body %}
    <div id="listdiv">
        <p class="personal"> Kontakt {{user.getName}}: </p>
    <ul>
        <li><b>Imię: </b>{{user.getName}}</li>
        <li><b>Nazwisko: </b>{{user.getSurname}}</li>
        <li><b>Opis: </b>{{user.getDescription}}</li><br>
        <a href="{{ path('modifyuser', {'id': user.getId}) }}" class="linkstyle">Edytuj dane osobowe</a><hr>

        <p class="personal">Hacjendy:</p>

        {% for i in countAddress..countAddress %}
            {% for adres in address %}
                <li><b>Miasto: </b>{{adres.getCity}}</li>
                <li><b>Ulica: </b>{{adres.getStreet}}</li>
                <li><b>Nr domu: </b>{{adres.getHomeNumber}}</li>
                <li><b>Nr mieszkania: </b>{{adres.getApartmentNumber}}</li>
                <a href="{{ path('modifyaddress', {'id': adres.getId}) }}" class="linkstyle">Modyfikuj adres</a> |
                <a href="{{ path('deleteaddress', {'id': adres.getId}) }}" class="linkstyle">Usuń adres</a> <br><br>
            {% endfor %}
        {% endfor %}

        <a href="{{ path('newaddress') }}" class="linkstyle">Dodaj nowy adres dla {{user.getName}} </a><hr>

        <p class="personal">Numery telefonu:<p>

        {% for i in countPhone..countPhone %}
            {% for phone in phones %}
                <li><b>Numer telefonu: </b>{{phone.getPhoneNumber}}</li>
                <li><b>Typ: </b>{{phone.getType}}</li>
                <a href="{{ path('modifyphone', {'id': phone.getId}) }}" class="linkstyle" >Modyfikuj numer telefonu</a> |
                <a href="{{ path('deleteaphone', {'id': phone.getId}) }}" class="linkstyle" >Usuń numer telefonu</a>
                 <br><br>
            {% endfor %}
        {% endfor %}

        <a href="{{ path('newphone') }}" class="linkstyle">Dodaj nowy numer telefonu dla {{user.getName}} </a><hr>

        <p class="personal">Emaile:</p>

        {% for i in countEmail..countEmail %}
            {% for email in emails %}
                <li><b>Email: </b>{{email.getEmailAddress}}</li>
                <li><b>Typ: </b>{{email.getType}}</li>
                <a href="{{ path('modifyemail', {'id': email.getId}) }}" class="linkstyle">Modyfikuj email</a> |
                <a href="{{ path('deleteemail', {'id': email.getId}) }}" class="linkstyle">Usuń email</a>
                <br><br>
            {% endfor %}
        {% endfor %}

        <a href="{{ path('newemail') }}" class="linkstyle">Dodaj email dla {{user.getName}} </a>
    </ul>
    <hr>
    </div>

{% endblock %}