{% extends '@UserList/Default/index.html.twig' %}

{% block body %}
    <div id="listdiv">
    <h2>Kontakt {{user.getName}}: </h2>
    <ul>
        <li><b>Imię: </b>{{user.getName}}</li>
        <li><b>Nazwisko: </b>{{user.getSurname}}</li>
        <li><b>Opis: </b>{{user.getDescription}}</li><br>
        <a href="{{ path('modifyuser', {'id': user.getId}) }}">Edytuj dane osobowe</a><hr>

        <h3>Hacjendy:</h3>

        {% for i in countAddress..countAddress %}
            {% for adres in address %}
                <li><b>Miasto: </b>{{adres.getCity}}</li>
                <li><b>Ulica: </b>{{adres.getStreet}}</li>
                <li><b>Nr domu: </b>{{adres.getHomeNumber}}</li>
                <li><b>Nr mieszkania: </b>{{adres.getApartmentNumber}}</li>
                <a href="{{ path('modifyaddress', {'id': adres.getId}) }}">Modyfikuj adres</a> |
                <a href="{{ path('deleteaddress', {'id': adres.getId}) }}">Usuń adres</a> <br><br>
            {% endfor %}
        {% endfor %}

        <a href="{{ path('newaddress') }}">Dodaj nowy adres dla {{user.getName}} </a><hr>

        <h3>Numery telefonu:</h3>

        {% for i in countPhone..countPhone %}
            {% for phone in phones %}
                <li><b>Numer telefonu: </b>{{phone.getPhoneNumber}}</li>
                <li><b>Typ: </b>{{phone.getType}}</li>
                <a href="{{ path('modifyphone', {'id': phone.getId}) }}">Modyfikuj numer telefonu</a> |
                <a href="{{ path('deleteaphone', {'id': phone.getId}) }}">Usuń numer telefonu</a>
                 <br><br>
            {% endfor %}
        {% endfor %}

        <a href="{{ path('newphone') }}">Dodaj nowy numer telefonu dla {{user.getName}} </a><hr>

        <h3>Emaile:</h3>

        {% for i in countEmail..countEmail %}
            {% for email in emails %}
                <li><b>Email: </b>{{email.getEmailAddress}}</li>
                <li><b>Typ: </b>{{email.getType}}</li>
                <a href="{{ path('modifyemail', {'id': email.getId}) }}">Modyfikuj email</a> |
                <a href="{{ path('deleteemail', {'id': email.getId}) }}">Usuń email</a>
                <br><br>
            {% endfor %}
        {% endfor %}

        <a href="{{ path('newemail') }}">Dodaj email dla {{user.getName}} </a>
    </ul>
    <hr>
    </div>

{% endblock %}